@font-face {
    font-family: LobsterTwo;
    src: url("../fonts/LobsterTwo-Regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: LobsterTwo-Bold;
    src: url("../fonts/LobsterTwo-Bold.otf");
    font-weight: bold;
}

p {
    font-size: 150%;
    font-family: LobsterTwo;
    font-weight: bold;
    text-align: center;
    color: red;
    text-shadow: 3px 3px 6px #343434;
    word-spacing: 22px;
}

p:first-of-type {
    font-weight: normal;
    text-transform: uppercase;
    color: blue;
    letter-spacing: -2px;
    word-spacing: unset;
}

p>span:last-of-type {
    text-transform: capitalize;
}

p:first-of-type>span {
    text-transform: unset;
}

p>span>span {
    color: green;
}

span[go {
    text-decoration: line-through;
